#button {
	padding: 0;
}
#button li {
	display: inline;
}
#button li a {
	font-family: Arial;
	font-size:11px;
	text-decoration: none;
	float:left;
	padding: 10px;
	background-color: #005A8B;
	color: #fff;
}
#button li a:hover {
	background-color: #2586d7;
	margin-top:-2px;
	padding-bottom:12px;
}