<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title }}</title>
    
    <!-- Web Fonts -->
    {% include web-fonts.html %}
    {% include stylesheets.html %}
    
    <script src="{{ site.base }}/javascripts/scale.fix.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="logo">
        <div style="height:120px"></div>
        {% include main-navbar.html %}
        <p class="header">Include contact info here.</p>
      </header>
      <section>
      {% include top-navbar.html %}
      
      {{ content }}

     </section>
      {% include footer.html %}
    </div>

    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
		          <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-33570542-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>